








/*template*/
/*flex*/
.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.flex-start{
    align-items: flex-start;
    justify-content: flex-start;
}

.flex-justify-space{
    justify-content: space-between;
}

.flex-align-item-center{
    align-items: center;
}

.flex-align-start{
    align-items: flex-start;
}
.flex-justify-start{
    justify-content: flex-start;
}
/*flex*/


/* fonts */
.open-sans{
font-family: 'Open Sans';
}

.raleway{
    font-family: 'Raleway';
}

.f-size-15{
    font-size: 15px;
}

/*template*/
.wrapper{
    max-width: 100%;
    max-width: 1100px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

body{
    margin: 0;
    top: 0;
}

.main{
    padding-top: 72px;
}
a{
    text-decoration:none;
    color: white;
}

header{
    position: fixed;
    margin: 0 auto ;
    left: 0;
    right: 0;
    top:0; 
    z-index: 5;
    background-color: black;
}

button{
    border: 0;
}

.logo{
padding: 25px 0;
}

.header__content{
position: relative;
}




.menu-link{
    padding: 31px 24.5px;
    transition: 1.5s ease;
}
.menu-link:hover{
    background-color: rgb(139, 120, 102);
    border-radius: 15px;
}




/* section slide*/
.slide{
    position: relative;
    z-index: 4;
    height: 641px;
    width: 100%;
}

.slide__line{
    border: 1px;
    height: 2px;
    width: 74px;
    background-color: white;
}
.slide__content{
    z-index: 5;
}
.slide__first-column{
    padding: 110px 0 139px 0;
}

.slide__title{
    padding: 33px 0 36px 0;
    font-size: 36px;
    color:white;
    font-weight: 400;

}

.slide__text{
    color:white;
    font-size: 16px;
    line-height: 23px;
    width:100%;
    max-width: 461px;
    padding: 30px 0 44px 0;
    
    opacity: 0.5;
}
.slide__background{
    background: url(image/slide.png) no-repeat ;
    background-size: cover; 
    position: absolute;
    width: 100%;
    height: 641px;
    z-index: -1;

}
.slide__background:before {
    content: "";
    position:absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.53);
}

.slide__button{
    width: 100%;
    max-width: 135px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    box-sizing: border-box;
    padding: 10px;
    
    
}

.slide__button:hover{
    transition: .5s ease;
    background-color: rgba(139, 120, 102, 0.384);
    box-shadow: inset 0px 0px 5px white;
    border: none;
}




.second__column{
background-color: white;
border-radius: 3px;
}

.form-free-trial{
    padding: 0 0 49px 0;
}

.form__item{
    width: 100%;
    height: 25px;
    padding-left: 14px;
    max-width: 265px;
    margin-top: 36px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #bdbdbd3a;
}
.form__item::placeholder{
    color: #bdbdbd85;
    font-weight: 600;
}

.div-title{
padding:0 56px;
height: 54px;
background-color: rgba(212, 212, 212, 0.39);
font-weight: 800;
box-sizing: border-box;
font-size: 20px;
border-radius: 3px;
}

.free-trial__button{
    color: white;
    background-color: rgba(241, 161, 11, 0.993);
    width: 100%;
    max-width: 361px;
    padding: 19px 0; 
    font-weight: 600;
    border-radius: 3px;
}

.free-trial__button:hover{
    transition: .5s ease;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, .5);
}

.FREE{
    color: rgb(252, 164, 0);
}


@media(max-width:1024px){
    .slide__background{
        height: 170%;
    }

    .slide__content{
    flex-direction: column;
    text-align: center;
    }

    .slide__first-column{
        align-items: center;
    }
    .slide__line{
        margin: 0 100%;
    }
    .slide__text{
        
    }
}



@media(max-width: 400px){
    .slide__first-column{
        padding: 70px 0;
    }

    .slide__img{
        width: 30%;
    }
    .slide__title{
        font-size: 20px;
    }
    
    .slide__text {
        font-size: 13px;
    }

    .div-title{
        padding: 0 20px;
        font-size: 14px;
    }

    .form__item{
        width: 80%;
    }
    .slide__background{
        height: 135%;
    }

    .free-trial__button{
        font-weight: 400;
    }

    .form__item::placeholder{
        font-size: 13px;
    }
}
